@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width : 10px;
}

::-webkit-scrollbar-track {
  background : #112240;
}

::-webkit-scrollbar-thumb {
  background: #64ffda;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8892b0;
}

@layer utilities {
  .app {
    @apply p-4 text-center font-global text-regular leading-loose tracking-wider bg-slate-100 min-h-screen text-neutral-900 space-y-4 scroll-smooth
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-center font-bold underline underline-offset-4
  }

  label {
    @apply flex flex-col gap-3
  }

  input {
    @apply rounded-lg p-2 outline-blue-300 invalid:outline-red-500 shadow-md
  }

  span {
    @apply font-semibold
  }

  form > section {
    @apply flex flex-col gap-4 rounded p-4 bg-transparent
  }

}