@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width : 10px;
}

::-webkit-scrollbar-track {
  background : #112240;
}

::-webkit-scrollbar-thumb {
  background: #64ffda;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8892b0;
}

@layer utilities {
  .app {
    @apply p-4 text-center font-global text-regular leading-loose tracking-wider bg-slate-100 min-h-screen text-neutral-900 space-y-4 scroll-smooth
  }

  .main {
    @apply grid grid-flow-row tablet:grid-cols-2 gap-6 items-center justify-between m-auto p-4 text-left
  }

  .preview {
    @apply p-4 flex flex-col h-full shadow-lg drop-shadow-lg
  }

  .user_details {
    @apply p-3 flex flex-col tablet:flex-row gap-3 items-center justify-between
  }

  .user_details article {
    @apply flex gap-3
  }

  .user_details h5 {
    @apply text-heading
  }

  .education {
    @apply p-3
  }

  .work_experience {
    @apply p-3
  }

  .preview-header {
    @apply flex p-4 items-center justify-between gap-3 w-full
  }

  .download-button {
    @apply bg-blue-400 p-2 rounded-md text-white
  }

  h1, h2, h3, h4 {
    @apply text-center font-bold underline underline-offset-4
  }

  label {
    @apply flex flex-col gap-3
  }

  input {
    @apply rounded-lg p-2 outline-blue-300 invalid:outline-red-500 shadow-md drop-shadow-sm
  }

  span {
    @apply font-semibold
  }

  form > section {
    @apply flex flex-col gap-4 rounded p-4 bg-transparent
  }

  form button {
    @apply p-2 bg-blue-500 rounded-lg w-2/4 text-white cursor-pointer shadow-lg drop-shadow-lg
  }
}