*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero1 {
    display: grid;
    gap: 2rem;
}

.form-personal-info {
    justify-self: center;
    background-color: #f4dfc8;
    color: black;
    padding: 2rem;
    border-radius: 10px;
    display: grid;
    gap: 10px;
}

.form-personal-info > div {
    display: grid;
}

.form-personal-info input {
    background-color: #faf6f0;
    border: none;
    outline: none;
    height: 2rem;
    border-radius: 10px;
    padding-left: 0.5rem;
    color: black;
}

.form-personal-info input:active{
    background-color: #faf6f0;
}


